<div class="row" *ngIf="movies">
    <div class="col-4 col-md-4 col-lg-3 my-3 px-2 px-md-4" *ngFor="let item of movies || null">
        <div *ngIf="item.poster_path !== null">
            <a class="view overlay zoom" (click)="getMovieById(item.id)" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <img class="poster-img hoverable" src="https://image.tmdb.org/t/p/w400/{{ item.poster_path }}"
                    title="{{ item.title }}" alt="{{ item.title }}" />
            </a>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    *ngIf="currentDetails">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title title h4-responsive  px-3">{{currentDetails.title}}</h4>
                <span class="badge rounded-pill bg-dark chip">
                    <i class="fas fa-solid fa-star px-1"></i>
                    {{currentDetails.vote_average}}
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{currentDetails.overview}}</p>
                <hr>
                
                <p class="year"><span>{{currentDetails.release_date | date: 'yyyy'}}</span>
                <div class="d-flex justify-content-center">
                    <span class="badge rounded-pill bg-dark chip"
                        *ngFor="let genre of currentGenres">{{genre.name}}</span>
                </div>

                <ul class="nolist">
                    <li>
                        <div class="label">
                            Released
                        </div>
                        <div class="value">
                            {{ currentDetails.release_date | date }}
                        </div>
                    </li>
                    <li>
                        <div class="label">
                            Runtime
                        </div>
                        <div class="value">
                            {{ currentDetails.runtime | date  }}
                        </div>
                    </li>
                    <li *ngIf="currentDetails.budget">
                        <div class="label">
                            Budget
                        </div>
                        <div class="value">
                            {{ currentDetails.budget | currency }}
                        </div>
                    </li>
                    <li *ngIf="currentDetails.revenue">
                        <div class="label">
                            Revenue
                        </div>
                        <div class="value">
                            {{ currentDetails.revenue | currency }}
                        </div>
                    </li>
                    </ul>

            </div>
        </div>
    </div>
</div>