<app-genres-list></app-genres-list>
<!-- <app-movie-search></app-movie-search> -->
<div *ngIf="currentMovies">
  <div class="container">
    <h3 class="title text-center h3-responsive">Popular Movies</h3>
    <hr>
    <nav aria-label="Page navigation example">
      <ul class="pagination pagination-sm justify-content-center container-fluid my-3">
        <li class="page-item">
          <button type="button" class="btn btn-dark btn-sm" *ngIf="page <= 1; else buttonActive" disabled>
            <i class="fas fa-angle-double-left"></i>&nbsp; Previous
          </button>
          <ng-template #buttonActive>
            <button type="button" class="btn btn-dark btn-sm" (click)="getMovies(page - 1)"
              routerLink="/home/{{ page - 1 }}" routerLinkActive>
              <i class="fas fa-angle-double-left"></i>&nbsp; Previous
            </button>
          </ng-template>
        </li>
        <li class="page-item">
          <span class="current-page row justify-content-center align-items-center px-3">Page {{ page }}
            of {{ totalPages }}</span>
        </li>
        <li class="page-item">
          <button type="button" class="btn btn-dark btn-sm" *ngIf="page === totalPages; else buttonNextActive" disabled
            routerLinkActive>
            Next &nbsp;<i class="fas fa-angle-double-right"></i>
          </button>
          <ng-template #buttonNextActive>
            <button type="button" class="btn btn-dark btn-sm" (click)="getMovies(page + 1)"
              routerLink="/home/{{ page + 1 }}" routerLinkActive>
              Next&nbsp;<i class="fas fa-angle-double-right"></i>
            </button>
          </ng-template>
        </li>
      </ul>
    </nav>
    <app-movie-details [movies]="currentMovies"></app-movie-details>
  </div>
</div>