<!-- <app-movie-nav-bar></app-movie-nav-bar>
<app-movie-search></app-movie-search>
<router-outlet></router-outlet> -->

<!-- <div *ngIf="!isSignedIn">
    <h2>Sign up</h2>
    <input type="text" #emailSignup />
    <input type="text" #passwordSignup />
    <button (click)="onSignup(emailSignup.value, passwordSignup.value)"> Sign up</button>
</div> -->


<section class="vh-100" *ngIf="!isSignedIn">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="http://cdn.onlinewebfonts.com/svg/img_411852.png" width="400" height="400" class="img-fluid"
                    alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form>
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Welcome!</p>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="email" #email id="form3Example3" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" />
                    </div>

                    <div class="form-outline mb-3">
                        <input type="password" #password class="form-control form-control-lg"
                            placeholder="Enter password" />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="button" class="btn btn-dark" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                            (click)="onSignin(email.value, password.value)">Sign in</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="/singup"
                                class="link-danger">Register</a></p>
                    </div>
                </form>
               
            </div>
        </div>
        
    </div>
</section>
<!-- <app-singup></app-singup> -->


<!-- <div *ngIf="!isSignedIn">
    <h2>Sign In</h2>
    <input type="text" #email />
    <input type="text" #password />
    <button (click)="onSignin(email.value, password.value)"> Sign in</button>
</div> -->
<app-movie-nav-bar *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-movie-nav-bar>