<div *ngIf="trending">
    <div class="container">
      <h3 class="title text-center h3-responsive">Trending Tv</h3>
      <hr>
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center container-fluid my-3">
          <li class="page-item">
            <button type="button" class="btn btn-dark btn-sm" *ngIf="page <= 1; else buttonActive" disabled>
              <i class="fas fa-angle-double-left"></i>&nbsp; Previous
            </button>
            <ng-template #buttonActive>
              <button type="button" class="btn btn-dark btn-sm" (click)="getTrending((page - 1))"
                routerLink="/tvTrending/{{ page - 1 }}" routerLinkActive>
                <i class="fas fa-angle-double-left"></i>&nbsp; Previous
              </button>
            </ng-template>
          </li>
          <li class="page-item">
            <span class="current-page row justify-content-center align-items-center px-3">Page {{ page }}
              of {{ totalPages }}</span>
          </li>
          <li class="page-item">
            <button type="button" class="btn btn-dark btn-sm" *ngIf="page === totalPages; else buttonNextActive" disabled
              routerLinkActive>
              Next &nbsp;<i class="fas fa-angle-double-right"></i>
            </button>
            <ng-template #buttonNextActive>
              <button type="button" class="btn btn-dark btn-sm" (click)="getTrending(page + 1)"
                routerLink="/tvTrending/{{ page + 1 }}" routerLinkActive>
                Next&nbsp;<i class="fas fa-angle-double-right"></i>
              </button>
            </ng-template>
          </li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-4 col-md-4 col-lg-3 my-3 px-2 px-md-4" *ngFor="let item of trending">
          <div *ngIf="item.poster_path !== null">
            <a class="view overlay zoom" (click)="getMovieById(item.id)" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              <img class="poster-img hoverable" src="https://image.tmdb.org/t/p/w400/{{ item.poster_path }}"
                title="{{ item.title }}" alt="{{ item.title }}" />
            </a>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        *ngIf="details">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title title h4-responsive  px-3">{{details.title}}</h4>
              <span class="badge rounded-pill bg-dark chip">
                <i class="fas fa-solid fa-star px-1"></i>{{details.vote_average}}</span>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>{{details.overview}}</p>
              <hr>
              <div class="d-flex justify-content-center">
                <span class="badge rounded-pill bg-dark chip" *ngFor="let genre of genres">{{genre.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>