<div>
    <div class="container">
        <form [formGroup]="searchBar">
            <div class="row">
                <div class="d-flex justify-content-center">
                    <div class="input-group search">
                        <input type="search" class="form-control searchdesign" placeholder="Search for movies..."
                            [(ngModel)]="searchStr" formControlName="searchStr" (keyup.enter)="searchMovies()">
                        <span class="input-group-btn">
                            <button class="btn btn-dark btnDesign" type="button" (click)="searchMovies()">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="row" *ngIf="searchRes">
            <app-movie-details [movies]="searchRes"></app-movie-details>
        </div>
        <div class="row" *ngIf="searchEmpty">
            <div class="d-flex justify-content-center">
                <span>No results found :(
                </span>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>