.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 7rem 0 7rem;
}

button{
    margin: 10px;
}
.container{
  margin-top: 2rem;
}
img{
  cursor: pointer;
}
.chip{
  padding: 10px 10px 10px 10px;
  font-size: 12px;
  margin: 2px;
}
p{
  font-variant-caps: small-caps;
  text-align: justify;
  font-size: 13px;
  
}
